* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    --white: hsl(0, 0%, 100%);
    --dark-gray: hsl(0, 0%, 59%);
    --dark-gray-border: hsl(0, 0%, 91%);
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8rem;
    background-color: var(--dark-cyan);
}

#profile-card {
    display: grid;
    height: 100vh;
    margin: 0 auto;
    place-content: center;
    position: relative;
}

.profile-banner img {
    height: 100%;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
}

.profile-pic img {
    border-radius: 50%;
    border: 5px solid var(--white);
    position: absolute;
    right: 135px;
    bottom: 438px;
}

.profile-user, .profile-stats {
    background-color: var(--white);
}

.profile-user {
    text-align: center;
    padding: 7.2rem 0 3.2rem;
    border-bottom: 1px solid var(--dark-gray-border);
}

.profile-user .city {
    color: var(--dark-gray);
    font-size: 1.6rem;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.0rem;
    margin-bottom: 1.2rem;
}

.user-info p {
    color: var(--dark-grayish-blue);
    font-size: 2.2rem;
}

.profile-stats {
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    display: flex;
    justify-content: space-around;
    padding: 2.4rem;
}

.followers-stats, .likes-stats, .photos-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.followers-stats,
.likes-stats,
.photos-stats {
    letter-spacing: .1rem;
}

.followers-stats :nth-child(1),
.likes-stats :nth-child(1),
.photos-stats :nth-child(1) {
    font-weight: 700;
}

.followers-stats :nth-child(2),
.likes-stats :nth-child(2),
.photos-stats :nth-child(2) {
    color: var(--dark-grayish-blue);
    font-size: 1.2rem;
}

#app {
    position: relative;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg-top {
    top: -480px;
    left: -170px;
    background: url("./images/bg-pattern-top.svg") no-repeat right;
}

.bg-bottom {
    bottom: -374px;
    right: -190px;
    background: url("./images/bg-pattern-bottom.svg") no-repeat left;
}